.coach, .course {
    background: rgba(191, 191, 191, 0.33);
    color: black;
    width: 100%;
    justify-self: center;
    border-radius: 12px;
    margin: 20px;
}

.coach {
    padding: 20px;
}

.coach-content {
    display: flex;
    align-items: center;
}

.coach-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coach ion-button {
    width: fit-content;
}

.coach-thumbnail {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 16px;
}

.coach ion-button, .course ion-button {
    margin-left: 15px;
}

.section-title {
    align-self: flex-start;
    margin-left: 20px;
}

.inner-page {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-item {
    --inner-padding-end: 0;
    --background: transparent;
}

.cardhead {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cardhead img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.leftb {
    --background: #46505A !important;
}