<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inner-page">
    <h2 class="section-title">Coaches</h2>
    <ion-card class="coach">
      <div class="coach-content">
        <img class="coach-thumbnail" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Coach">
        <div class="coach-info">
          <ion-title>Mike Tyson</ion-title>
          <ion-button>Reservation</ion-button>
        </div>
      </div>
    </ion-card>
    <ion-card class="coach">
      <div class="coach-content">
        <img class="coach-thumbnail" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Coach">
        <div class="coach-info">
          <ion-title>Connor McGregor</ion-title>
          <ion-button>Reservation</ion-button>
        </div>
      </div>
    </ion-card>
    <ion-card class="coach">
      <div class="coach-content">
        <img class="coach-thumbnail" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Coach">
        <div class="coach-info">
          <ion-title>Dwayne Johnson</ion-title>
          <ion-button>Reservation</ion-button>
        </div>
      </div>
    </ion-card>
    <h2 class="section-title">Courses</h2>
    <ion-card class="course">
      <div class="cardhead">
        <img class="cardhead" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </div>
      <ion-card-content>
        <ion-title>Kickboxing</ion-title>
        <ion-button>Enroll</ion-button>
        <ion-button class="leftb" slot="end">More info</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="course">
      <div class="cardhead">
        <img class="cardhead" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </div>
      <ion-card-content>
        <ion-title>Yoga</ion-title>
        <ion-button>Enroll</ion-button>
        <ion-button class="leftb">More info</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
