<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--
  <ion-datetime presentation="date" preferWheel="false"></ion-datetime>
  <div class="events">
    <h3>Upcoming events</h3>
    <ng-container *ngIf="isLoggedIn(); else loginPrompt">
      <p>No upcoming activities.</p>
    </ng-container>

    <ng-template #loginPrompt>
      <p>You haven't logged in yet. Log in to see your upcoming activities!</p>
      <ion-button href="tabs/tab2">Log in</ion-button>
    </ng-template>
  </div>-->
  <app-calendar></app-calendar>
</ion-content>
